.ingredients-table {
  &-header {
    background-color: #1a73e8;
    color: #ffffff;
    text-align: center;
    padding: 12px 15px;
  }

  &-row {
    border-bottom: 1px solid #dddddd;
    &__item {
      min-width: 50px;
      max-width: 200px;
      height: 26px;
      padding: 15px 18px;
      text-align: center;
    }
    &:nth-of-type(even) {
      background-color: #f3f3f3;
    }
    &:last-of-type {
      border-bottom: 2px solid #1a73e8;
    }
    &:hover {
      // color: #1a73e8;
      background-color: #d0e6ff;
    }
  }
}
