.ingredients-table {
  &-header {
    border-right: 1px solid;
    padding: 5px 10px;
  }

  &-row {
    &__item {
      min-width: 70px;
      max-width: 100px;
      padding: 3px 10px;
      border: 1px solid;
      text-align: center;
    }
  }
}
