@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.App {
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
