.actions-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}
.actions-bar-cell {
  height: 26px;
  padding: 15px 18px;
  display: flex;
  align-items: center;
}
