.actions-bar {
  display: flex;
  flex-direction: column;
  min-width: rem(50);
}

.actions-bar-cell {
  height: rem(57);
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.15);

  justify-content: center;

  &-first {
    height: rem(43);
    background-color: #1a73e8;
  }

  &:nth-child(2),
  &:last-child {
    height: rem(56.5);
  }

  &:last-child {
    border-bottom: rem(2) solid #1a73e8;
  }
}
