.actions-bar {
  display: flex;
  flex-direction: column;
  min-width: 50px;
}

.actions-bar-cell {
  height: 57px;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  justify-content: center;

  &-first {
    height: 43px;
    background-color: #1a73e8;
  }

  &:nth-child(2),
  &:last-child {
    height: 56.5px;
  }

  &:last-child {
    border-bottom: 2px solid #1a73e8;
  }
}

.popup-delete {
  display: flex;
  position: absolute;
  right: 25px;
}
