.add-item-form {
  display: flex;
  position: absolute;

  & input {
    display: inline-block;
    width: auto;
    height: rem(43);
    max-width: rem(118);
  }

  & button {
    width: rem(50);
  }
}
