@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.wrapper {
  display: flex;
  flex-direction: row;
}

.ingredients-table {
  border-collapse: collapse;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  min-width: rem(400);
  box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.15);
}

.search-item {
  margin: rem(25);
}
